{% extends "layout.html" %}

{% block style %}
<link href="static/login.css" rel="stylesheet"> </link>
{% endblock %}

{% block title %}
    Home
{% endblock %}

{% block main %}
<table class = "table blur">
    <thead class="thead-dark">
        <tr>
            <th scope="col"> Symbol</th> 
            <th scope="col"> Name</th> 
            <th scope="col"> Shares</td>
            <th scope="col"> Price</th>
            <th scope="col"> TOTAL</th>
          
        </tr>
    </thead>

    <tbody>

        {% for stock in stocks %}
        <tr style="color: white;"> 
            <td> {{ stock["symbol"] }}</td>
            <td> {{ stock["stock_name"] }}</td>
            <td> {{ stock["quantity"] }}</td>
            <td> {{ prices[stock.symbol] | usd }}</td>
            <td> {{ (prices[stock["symbol"]] * stock["quantity"]) | usd }} </td>            
        </tr>
        {% endfor %}
    <tr class="font-weight-bold">
        <td align="right" colspan="4">Portfolio Value</td>
        <td > {{ total | usd }}</td>
    </tr>

    <tr class="font-weight-bold">
        <td align="right" colspan="4"> Cash</td>
        <td> {{ user[0]["cash"] | usd }}</td>
    </tr>
    <tr  class="font-weight-bold">
        <td align="right" colspan="4"> Total </td>
        <td> {{ (user[0]["cash"] + total) | usd }}</td>
    </tr>
    </tbody>
   
{% endblock %}